<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>@(settings.page_title)</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <h1>Settings example - Main page</h1>
        </div>
        <div class="row">
            <div class="col-sm-6  lead">
                <h1 class="display-2">@(temperature()) °C</h1>
                <p>Temperature</p>
            </div>
            <div class="col-sm-6  lead">
                <h1 class="display-2">@light() %</h1>
                <p>Light</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-lg btn-primary" href="/settings">Settings</a>
            </div>
        </div>

        <div class="row form-group">
            <h2 class="col-sm-12">Leds</h2>
            <label class="col-form-label col-sm-3">Control leds</label>
            <div class="col-sm-9 form-check form-check-inline">
                <label class="col-sm-3 form-check-label alert alert-danger">
                    <input class="form-check-input led-blink" type="checkbox" id="red" name="red" @(settings.led_red ? "checked" : "") />
                    Red
                </label>
                <label class="col-sm-3 form-check-label alert alert-success">
                    <input class="form-check-input led-blink" type="checkbox" id="green" name="green" @(settings.led_green ? "checked" : "") />
                    Green
                </label>
                <label class="col-sm-3 form-check-label alert alert-info">
                    <input class="form-check-input led-blink" type="checkbox" id="blue" name="blue" @(settings.led_blue ? "checked" : "") />
                    Blue
                </label>
                <div class="col-sm-9">
                    <p class="form-text text-muted">Set the leds in the position you want. Use the Submit button to store the startup/boot position.</p>
                </div>
            </div>
        </div>



    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/tether.min.js"   ></script>
    <script src="/js/bootstrap.min.js"></script>
      <script type="text/javascript">
          $(function () {
              $(".led-blink").change(function () {
                  var url = "/" + this.id;
                  jQuery.get(url);
              });
          });
      </script>
  </body>
</html>
