<!DOCTYPE html>
<html lang="en">
@{
  // Handle post
  handlePost(request);
}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>ESP8266 - LazorLike parser</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="site.css" />

</head>

<body>
    <div class="container">
      <div class="row hidden-sm-down">
         <h1 class="display-1">Example - LazorLike parser</h1>
         <p class="lead">Served from ESP8266</p>
         <hr />
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class=""><span class="lead">Light:</span><br/>
          <span class="display-3">@light() %</span>
          </p>
        </div>
        <div class="col-md-6">
          <p><span class="lead">Temperature:</span><br/>
          <span class="display-3">@temperature() °C</span>
          </p>
        </div>
      </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-danger text-center">
                    <h4 class="card-header">Red</h4>
                    <div class="card-block">
                        <div class="card-text">
                            <p>Currently: <strong>@red()</strong></p>
                            <form method="POST">
                                <button class="btn btn-secondary" type="submit" name="toggle" value="red">Toggle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-success text-center">
                    <h4 class="card-header">Green</h4>
                    <div class="card-block">
                        <div class="card-text">
                            <p>Currently: <strong>@green()</strong></p>
                            <form method="POST">
                                <button class="btn btn-secondary" type="submit" name="toggle" value="green">Toggle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-info text-center">
                    <h4 class="card-header">Blue</h4>
                    <div class="card-block">
                        <div class="card-text">
                            <p>Currently: <strong>@blue()</strong></p>
                            <form method="POST">
                                <button class="btn btn-secondary" type="submit" name="toggle" value="blue">Toggle</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

      <div class="row">
          @{ for(int i = 0; i < 12; i++) {
             <div class="col-sm-@(i + 1) card card-block bg-faded">
                 <p>
                     This is cell #@i with width .col-sm-@(i + 1)
                 </p>
             </div>
            }
          }
      </div>
        
    </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright &copy; 2017 - Gert van 't Slot</p>
    </div>
  </footer>

</body>

</html>